[submodule "bash_config"]
	path = bash_config
	url = y2kbugger@bitbucket.org:y2kbugger/bash_config.git
[submodule "ssh_authorized_keys"]
	path = ssh_authorized_keys
	url = y2kbugger@bitbucket.org:y2kbugger/ssh_authorized_keys
