[submodule "bash_config"]
	path = bash_config
	url = y2kbugger@bitbucket.org:y2kbugger/bash_config.git
[submodule "ssh_authorized_keys"]
	path = ssh_authorized_keys
	url = y2kbugger@bitbucket.org:y2kbugger/ssh_authorized_keys
[submodule "vim_config"]
	path = vim_config
	url = git@bitbucket.org:y2kbugger/vim_config.git
[submodule "/home/y2k/devel/syncy2kconfigs/desktop_environment_config"]
	path = /home/y2k/devel/syncy2kconfigs/desktop_environment_config
	url = /home/y2k/.git
